html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(26, 26, 26);
  color: #fff;
  margin: 0;

}

::-webkit-scrollbar {
  width: 0;
}

.load-pixabay {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 404px;
  height: 60px;
  background-color: rgb(255, 232, 60);
  border: 1px solid #fff;
  font-family: 'Share Tech Mono', monospace;
  font-size: 3em;
  color: #000;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 25px 8px rgba(255, 236, 23, 1);
  transition: ease-in-out 0.2s;
}

.load-pixabay:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 15px 4px rgba(255, 236, 23, 1);
  font-size: 3.1em;
}

.from-pixabay {
  margin-bottom: 2em;
  margin-top: 2em;
}

.input-pixabay {
  display: block;
  margin: 0 auto;
  width: 404px;
  height: 60px;
  box-shadow: 0px 0px 20px 2px rgb(255, 234, 0);
  outline: none;
  border-radius: 4px;
  border: none;
  font-family: 'Share Tech Mono', monospace;
  font-size: 3em;
  color: #000;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: uppercase;
}

.list-pixabay {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 3em;
}

.list-pixabay__item {
  margin: 0 auto;
  max-width: 404px;
  border-radius: 4px;
  overflow: hidden;
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-pixabay__card {
  max-width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.list-pixabay__stats {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(55px);
  transition: transform ease-in-out 0.3s;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.list-pixabay__item:hover .list-pixabay__stats {
  transform: translateY(0);
}
